<script src="/content/vendors/js/jquery.js"></script>
<link href="/content/vendors/css/bootstrap/bootstrap.css" rel="stylesheet">
<script src="/content/vendors/js/bootstrap.bundle.js"></script>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Fastro Panel</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/content/vendors/css/material/material.css">
    <link rel="stylesheet" href="/content/css/home/pages/updates.css">
</head>
<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">System Updates</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <div id="logout-toast" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
        <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">
                <div class="demo-avatar-dropdown">
                    <div id="username-load" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
                    <span id="username" style="display: none;">...</span>
                    <div class="mdl-layout-spacer"></div>
                    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons" role="presentation">arrow_drop_down</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                        <li class="mdl-menu__item" id="logout">Sign Out</li>
                    </ul>
                    <div class="mdl-tooltip" data-mdl-for="accbtn">
                        Account
                    </div>
                </div>
            </header>
            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link" href="panel"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
                <a class="mdl-navigation__link" style="background-color: darkcyan;" href="updates"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">fact_check</i>Updates</a>
                <div class="mdl-layout-spacer"></div>
                <p style="padding-left: 15px;">Copyright &copy; <%= copyright %></p>
            </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="demo-content">
                <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="background-color: aliceblue;">
                        <i class="material-icons" style="position: absolute; top: 20px; left: 20px; font-size: 50px; opacity: 0.4;">security</i>
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text" style="color: darkcyan;">Release <code style="padding-left: 10px; font-size: 25px;">0.2</code></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            &mdash; Increased security with login which now validates all input to ensure there are no vulnerabilities.
                            <br />
                            &mdash; Data stored on the client side is secured by obfuscated names and multiple token chunks.
                            <br />
                            &mdash; Server protection against invalid name generation by strict comparisons with system login information.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" disabled>
                                Security Update
                            </a>
                        </div>
                    </div>
                    <div class="demo-separator mdl-cell--1-col"></div>
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="background-color: aliceblue;">
                        <i class="material-icons" style="position: absolute; top: 20px; left: 20px; font-size: 50px; opacity: 0.4;">backup</i>
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text" style="color: darkcyan;">Release <code style="padding-left: 10px; font-size: 25px;">0.1</code></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            &mdash; Released and published the system.
                            <br />
                            &mdash; Added multiple pages for information.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" disabled>
                                Major Release
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/content/vendors/js/material.js"></script>
    <script src="/content/js/home/pages/main.js?_=<%= cabu %>"></script>
</body>
</html>